<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adriabic</title>
    <link rel="stylesheet" href="styles/style.css">
    <script type="text/javascript" src="scripts/lib/vue.js"></script>
    <script type="text/javascript" src="dist/app-build.js"></script>
</head>

<body>
    <main id="app" v-bind:class="time">
        <div id="portrait">
            <img v-bind:src="'img/appearence/body_' + c.appearence.body.toString() + '.png'" class="body" />
            <img v-bind:src="'img/appearence/gender_' + c.appearence.gender.toString() + '.png'" />
            <img v-bind:src="'img/appearence/eyes_' + c.appearence.eyes.toString() + '.png'" />
            <img v-bind:src="'img/appearence/moustache_' + c.appearence.moustache.toString() + '.png'"
                v-bind:style="'filter: hue-rotate(' + c.appearence.hueRotate + 'deg);'" />
            <img v-bind:src="'img/appearence/scar_' + c.appearence.scar.toString() + '.png'" />
            <img v-bind:src="'img/appearence/beard_' + c.appearence.beard.toString() + '.png'"
                v-bind:style="'filter: hue-rotate(' + c.appearence.hueRotate + 'deg);'" />
            <img v-bind:src="'img/appearence/hair_' + c.appearence.hair.toString() + '.png'"
                v-bind:style="'filter: hue-rotate(' + c.appearence.hueRotate + 'deg);'" />
            <img v-bind:src="'img/appearence/glasses_' + c.appearence.glasses.toString() + '.png'" />
        </div>
        <div id="buttons">
            <a href="#" v-on:click="cycleDayTime">D/N</a>
            <!-- <a href="#" v-on:click="cycleCities">P</a> -->
            <a href="#" v-on:click="cycleCharacter">C</a>
        </div>
        <div id="sea" class="sea">
        </div>
        <div id="city" v-bind:class="'city ' + city.name.toLowerCase()">
            <p v-on:click="cycleCities">{{city.name}}</p>
        </div>
        <div id="places">
            <div v-if="city.marina">
                <div class="portrait">
                    <img v-bind:src="'img/appearence/body_' + city.marina.npc.appearence.body.toString() + '.png'"
                        class="body" />
                    <img
                        v-bind:src="'img/appearence/gender_' + city.marina.npc.appearence.gender.toString() + '.png'" />
                    <img v-bind:src="'img/appearence/eyes_' + city.marina.npc.appearence.eyes.toString() + '.png'" />
                    <img v-bind:src="'img/appearence/moustache_' + city.marina.npc.appearence.moustache.toString() + '.png'"
                        v-bind:style="'filter: hue-rotate(' + city.marina.npc.appearence.hueRotate + 'deg);'" />
                    <img v-bind:src="'img/appearence/scar_' + city.marina.npc.appearence.scar.toString() + '.png'" />
                    <img v-bind:src="'img/appearence/beard_' + city.marina.npc.appearence.beard.toString() + '.png'"
                        v-bind:style="'filter: hue-rotate(' + city.marina.npc.appearence.hueRotate + 'deg);'" />
                    <img v-bind:src="'img/appearence/hair_' + city.marina.npc.appearence.hair.toString() + '.png'"
                        v-bind:style="'filter: hue-rotate(' + city.marina.npc.appearence.hueRotate + 'deg);'" />
                    <img
                        v-bind:src="'img/appearence/glasses_' + city.marina.npc.appearence.glasses.toString() + '.png'" />
                    <p clasS="place-name">{{city.marina.type}}</p>
                    <p clasS="npc-name">{{city.marina.npc.fullname()}}</p>
                </div>
            </div>
            <div v-if="city.market">
                <div class="portrait">
                    <img v-bind:src="'img/appearence/body_' + city.market.npc.appearence.body.toString() + '.png'"
                        class="body" />
                    <img
                        v-bind:src="'img/appearence/gender_' + city.market.npc.appearence.gender.toString() + '.png'" />
                    <img v-bind:src="'img/appearence/eyes_' + city.market.npc.appearence.eyes.toString() + '.png'" />
                    <img v-bind:src="'img/appearence/moustache_' + city.market.npc.appearence.moustache.toString() + '.png'"
                        v-bind:style="'filter: hue-rotate(' + city.market.npc.appearence.hueRotate + 'deg);'" />
                    <img v-bind:src="'img/appearence/scar_' + city.market.npc.appearence.scar.toString() + '.png'" />
                    <img v-bind:src="'img/appearence/beard_' + city.market.npc.appearence.beard.toString() + '.png'"
                        v-bind:style="'filter: hue-rotate(' + city.market.npc.appearence.hueRotate + 'deg);'" />
                    <img v-bind:src="'img/appearence/hair_' + city.market.npc.appearence.hair.toString() + '.png'"
                        v-bind:style="'filter: hue-rotate(' + city.market.npc.appearence.hueRotate + 'deg);'" />
                    <img
                        v-bind:src="'img/appearence/glasses_' + city.market.npc.appearence.glasses.toString() + '.png'" />
                    <p clasS="place-name">{{city.market.type}}</p>
                    <p clasS="npc-name">{{city.market.npc.fullname()}}</p>
                </div>
            </div>
            <div v-if="city.brothel">
                <div class="portrait">
                    <img v-bind:src="'img/appearence/body_' + city.brothel.npc.appearence.body.toString() + '.png'"
                        class="body" />
                    <img
                        v-bind:src="'img/appearence/gender_' + city.brothel.npc.appearence.gender.toString() + '.png'" />
                    <img v-bind:src="'img/appearence/eyes_' + city.brothel.npc.appearence.eyes.toString() + '.png'" />
                    <img v-bind:src="'img/appearence/moustache_' + city.brothel.npc.appearence.moustache.toString() + '.png'"
                        v-bind:style="'filter: hue-rotate(' + city.brothel.npc.appearence.hueRotate + 'deg);'" />
                    <img v-bind:src="'img/appearence/scar_' + city.brothel.npc.appearence.scar.toString() + '.png'" />
                    <img v-bind:src="'img/appearence/beard_' + city.brothel.npc.appearence.beard.toString() + '.png'"
                        v-bind:style="'filter: hue-rotate(' + city.brothel.npc.appearence.hueRotate + 'deg);'" />
                    <img v-bind:src="'img/appearence/hair_' + city.brothel.npc.appearence.hair.toString() + '.png'"
                        v-bind:style="'filter: hue-rotate(' + city.brothel.npc.appearence.hueRotate + 'deg);'" />
                    <img
                        v-bind:src="'img/appearence/glasses_' + city.brothel.npc.appearence.glasses.toString() + '.png'" />
                    <p clasS="place-name">{{city.brothel.type}}</p>
                    <p clasS="npc-name">{{city.brothel.npc.fullname()}}</p>
                </div>
            </div>
            <div v-if="city.police">
                <div class="portrait">
                    <img v-bind:src="'img/appearence/body_' + city.police.npc.appearence.body.toString() + '.png'"
                        class="body" />
                    <img
                        v-bind:src="'img/appearence/gender_' + city.police.npc.appearence.gender.toString() + '.png'" />
                    <img v-bind:src="'img/appearence/eyes_' + city.police.npc.appearence.eyes.toString() + '.png'" />
                    <img v-bind:src="'img/appearence/moustache_' + city.police.npc.appearence.moustache.toString() + '.png'"
                        v-bind:style="'filter: hue-rotate(' + city.police.npc.appearence.hueRotate + 'deg);'" />
                    <img v-bind:src="'img/appearence/scar_' + city.police.npc.appearence.scar.toString() + '.png'" />
                    <img v-bind:src="'img/appearence/beard_' + city.police.npc.appearence.beard.toString() + '.png'"
                        v-bind:style="'filter: hue-rotate(' + city.police.npc.appearence.hueRotate + 'deg);'" />
                    <img v-bind:src="'img/appearence/hair_' + city.police.npc.appearence.hair.toString() + '.png'"
                        v-bind:style="'filter: hue-rotate(' + city.police.npc.appearence.hueRotate + 'deg);'" />
                    <img
                        v-bind:src="'img/appearence/glasses_' + city.police.npc.appearence.glasses.toString() + '.png'" />
                    <p clasS="place-name">{{city.police.type}}</p>
                    <p clasS="npc-name">{{city.police.npc.fullname()}}</p>
                </div>
            </div>
            <div v-if="city.hospital">
                <div class="portrait">
                    <img v-bind:src="'img/appearence/body_' + city.hospital.npc.appearence.body.toString() + '.png'"
                        class="body" />
                    <img
                        v-bind:src="'img/appearence/gender_' + city.hospital.npc.appearence.gender.toString() + '.png'" />
                    <img v-bind:src="'img/appearence/eyes_' + city.hospital.npc.appearence.eyes.toString() + '.png'" />
                    <img v-bind:src="'img/appearence/moustache_' + city.hospital.npc.appearence.moustache.toString() + '.png'"
                        v-bind:style="'filter: hue-rotate(' + city.hospital.npc.appearence.hueRotate + 'deg);'" />
                    <img v-bind:src="'img/appearence/scar_' + city.hospital.npc.appearence.scar.toString() + '.png'" />
                    <img v-bind:src="'img/appearence/beard_' + city.hospital.npc.appearence.beard.toString() + '.png'"
                        v-bind:style="'filter: hue-rotate(' + city.hospital.npc.appearence.hueRotate + 'deg);'" />
                    <img v-bind:src="'img/appearence/hair_' + city.hospital.npc.appearence.hair.toString() + '.png'"
                        v-bind:style="'filter: hue-rotate(' + city.hospital.npc.appearence.hueRotate + 'deg);'" />
                    <img
                        v-bind:src="'img/appearence/glasses_' + city.hospital.npc.appearence.glasses.toString() + '.png'" />
                    <p clasS="place-name">{{city.hospital.type}}</p>
                    <p clasS="npc-name">{{city.hospital.npc.fullname()}}</p>
                </div>
            </div>
            <div v-if="city.blackMarket">
                <div class="portrait">
                    <img v-bind:src="'img/appearence/body_' + city.blackMarket.npc.appearence.body.toString() + '.png'"
                        class="body" />
                    <img
                        v-bind:src="'img/appearence/gender_' + city.blackMarket.npc.appearence.gender.toString() + '.png'" />
                    <img
                        v-bind:src="'img/appearence/eyes_' + city.blackMarket.npc.appearence.eyes.toString() + '.png'" />
                    <img v-bind:src="'img/appearence/moustache_' + city.blackMarket.npc.appearence.moustache.toString() + '.png'"
                        v-bind:style="'filter: hue-rotate(' + city.blackMarket.npc.appearence.hueRotate + 'deg);'" />
                    <img
                        v-bind:src="'img/appearence/scar_' + city.blackMarket.npc.appearence.scar.toString() + '.png'" />
                    <img v-bind:src="'img/appearence/beard_' + city.blackMarket.npc.appearence.beard.toString() + '.png'"
                        v-bind:style="'filter: hue-rotate(' + city.blackMarket.npc.appearence.hueRotate + 'deg);'" />
                    <img v-bind:src="'img/appearence/hair_' + city.blackMarket.npc.appearence.hair.toString() + '.png'"
                        v-bind:style="'filter: hue-rotate(' + city.blackMarket.npc.appearence.hueRotate + 'deg);'" />
                    <img
                        v-bind:src="'img/appearence/glasses_' + city.blackMarket.npc.appearence.glasses.toString() + '.png'" />
                    <p clasS="place-name">{{city.blackMarket.type}}</p>
                    <p clasS="npc-name">{{city.blackMarket.npc.fullname()}}</p>
                </div>
            </div>
        </div>
    </main>

</body>

<script type="text/javascript">

    var vm = new Vue({
        el: "#app",
        data: {
            dayTime: 'day',
            c: charactersEngine.CreateRandom(1, 'Tony', 'Buzhiol'),
            cityIndex: 0
        },
        computed: {
            time: function () {
                return this.dayTime
            },
            city: function () {
                return cities[this.cityIndex]
            }
        },
        methods: {
            cycleDayTime() {
                this.dayTime = this.dayTime == 'day' ? 'night' : 'day'
            },
            cycleCities() {
                this.cityIndex++;
                if (this.cityIndex >= cities.length) {
                    this.cityIndex = 0
                }
            },
            cycleCharacter() {
                this.c = charactersEngine.CreateRandom(1, 'Tony', 'Buzhiol')
            }
        },
        mounted: function () {
            gameEngine.CreateGame()
        }
    });

</script>

</html>