<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adriabic</title>
    <link rel="icon" href="img/domain/icon.png">
    <link rel="stylesheet" href="styles/style.css">
    <script type="text/javascript" src="scripts/lib/vue.js"></script>
    <script type="text/javascript" src="dist/app-build.js"></script>
</head>

<body>
    <main id="app" v-bind:class="time">
        <char-portrait v-bind:c="c">
        </char-portrait>
        <div id="buttons">
            <a href="#" v-on:click="cycleDayTime">D/N</a>
            <!-- <a href="#" v-on:click="cycleCities">P</a> -->
            <a href="#" v-on:click="cycleCharacter">C</a>
        </div>
        <div id="sea" class="sea">
        </div>
        <div id="city" v-bind:class="'city ' + city.name.toLowerCase()">
            <p v-on:click="cycleCities">{{city.name}}</p>
        </div>
        <div id="places">
            <div v-if="city.marina">
                <char-portrait-info v-bind:c="city.marina.npc" v-bind:p="city.marina.type">
                </char-portrait-info>
            </div>
            <div v-if="city.market">
                <char-portrait-info v-bind:c="city.market.npc" v-bind:p="city.market.type">
                </char-portrait-info>
            </div>
            <div v-if="city.brothel">
                <char-portrait-info v-bind:c="city.brothel.npc" v-bind:p="city.brothel.type">
                </char-portrait-info>
            </div>
            <div v-if="city.police">
                <char-portrait-info v-bind:c="city.police.npc" v-bind:p="city.police.type">
                </char-portrait-info>
            </div>
            <div v-if="city.hospital">
                <char-portrait-info v-bind:c="city.hospital.npc" v-bind:p="city.hospital.type">
                </char-portrait-info>
            </div>
            <div v-if="city.blackMarket">
                <char-portrait-info v-bind:c="city.blackMarket.npc" v-bind:p="city.blackMarket.type">
                </char-portrait-info>
            </div>
        </div>
    </main>

</body>

<script type="text/javascript">

    Vue.component('char-portrait', {
        props: ['c'],
        template: `
            <div class="portrait"><img :src="\'img/appearence/body_\' + c.appearence.body.toString() + \'.png\'" class="body" />
            <img :src="\'img/appearence/gender_\' + c.appearence.gender.toString() + \'.png\'" />
            <img :src="\'img/appearence/eyes_\' + c.appearence.eyes.toString()+\'.png\'" />
            <img :src="\'img/appearence/scar_\' + c.appearence.scar.toString() + \'.png\'" />
            <img :src="\'img/appearence/beard_\' + c.appearence.beard.toString() + \'.png\'" :style="\'filter: hue-rotate(\' + c.appearence.hueRotate + \'deg);\'" />
            <img :src="\'img/appearence/moustache_\' + c.appearence.moustache.toString() + \'.png\'" :style="\'filter: hue-rotate(\' + c.appearence.hueRotate + \'deg);\'" />
            <img :src="\'img/appearence/glasses_\' + c.appearence.glasses.toString() + \'.png\'" />
            <img :src="\'img/appearence/hair_\' + c.appearence.hair.toString() + \'.png\'" :style="\'filter: hue-rotate(\' + c.appearence.hueRotate + \'deg);\'" /> 
            </div>
            `
    })
    Vue.component('char-portrait-info', {
        props: ['c', 'p'],
        template: `
            <div class="portrait"><img :src="\'img/appearence/body_\' + c.appearence.body.toString() + \'.png\'" class="body" />
            <img :src="\'img/appearence/gender_\' + c.appearence.gender.toString() + \'.png\'" />
            <img :src="\'img/appearence/eyes_\' + c.appearence.eyes.toString()+\'.png\'" />
            <img :src="\'img/appearence/scar_\' + c.appearence.scar.toString() + \'.png\'" />
            <img :src="\'img/appearence/beard_\' + c.appearence.beard.toString() + \'.png\'" :style="\'filter: hue-rotate(\' + c.appearence.hueRotate + \'deg);\'" />
            <img :src="\'img/appearence/moustache_\' + c.appearence.moustache.toString() + \'.png\'" :style="\'filter: hue-rotate(\' + c.appearence.hueRotate + \'deg);\'" />
            <img :src="\'img/appearence/glasses_\' + c.appearence.glasses.toString() + \'.png\'" />
            <img :src="\'img/appearence/hair_\' + c.appearence.hair.toString() + \'.png\'" :style="\'filter: hue-rotate(\' + c.appearence.hueRotate + \'deg);\'" /> 
            <p class="place-name">{{p}}</p>
            <p class="npc-name">{{c.fullname()}}</p>
            </div>
            `
    })

    var vm = new Vue({
        el: "#app",
        data: {
            dayTime: 'day',
            c: charactersEngine.CreateRandom(1, 'Tony', 'Buzhiol'),
            cityIndex: 0
        },
        computed: {
            time: function () {
                return this.dayTime
            },
            city: function () {
                return cities[this.cityIndex]
            }
        },
        methods: {
            cycleDayTime() {
                this.dayTime = this.dayTime == 'day' ? 'night' : 'day'
            },
            cycleCities() {
                this.cityIndex++;
                if (this.cityIndex >= cities.length) {
                    this.cityIndex = 0
                }
            },
            cycleCharacter() {
                this.c = charactersEngine.CreateRandom(1, 'Tony', 'Buzhiol')
            }
        },
        mounted: function () {
            gameEngine.CreateGame()
        }
    });

    

</script>

</html>